<div nz-row>
  <div nz-col [nzSpan]="6">
    <nz-card [nzBordered]="false" nzTitle="数据类型" [nzExtra]="extraTemplate">
      <ng-template #extraTemplate>
        <a (click)="toAddDataType()">
          <i nz-icon nzType="plus-circle" nzTheme="twotone"></i>
        </a>
      </ng-template>

      <nz-tree
        [nzData]="treeData"
        (nzClick)="selectNode($event)"
        [nzTreeTemplate]="nzTreeTemplate"
        [nzShowIcon]="true"
        [nzExpandedIcon]="mutiExpandedIconTpl"
      >
        <ng-template #mutiExpandedIconTpl let-node>
          <i *ngIf="!node.origin.isLeaf"
             nz-icon
             [nzType]="node.isExpanded ? 'folder-open' : 'folder'"
             class="ant-tree-switcher-line-icon"
          ></i>
          <i *ngIf="node.origin.isLeaf" nz-icon nzType="file" class="ant-tree-switcher-line-icon"></i>
        </ng-template>
        <ng-template #nzTreeTemplate let-node>
          <span class="custom-node" [class.active]="activedNode?.key === node.key">
            <span *ngIf="!node.isLeaf" (contextmenu)="contextMenu($event, dataTypeMenu)">
              <span class="folder-name">{{ node.title }}</span>
            </span>
            <span *ngIf="node.isLeaf" (contextmenu)="contextMenu($event, dataSetMenu)">
              <span class="file-name">{{ node.title }}</span>
            </span>
          </span>
        </ng-template>
        <nz-dropdown-menu #dataTypeMenu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="selectDropdown()">添加Schema</li>
            <li nz-menu-item (click)="selectDropdown()">修改</li>
          </ul>
        </nz-dropdown-menu>
        <nz-dropdown-menu #dataSetMenu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="selectDropdown()">Action 1</li>
            <li nz-menu-item (click)="selectDropdown()">Action 2</li>
          </ul>
        </nz-dropdown-menu>
      </nz-tree>
    </nz-card>
  </div>

  <div nz-col [nzSpan]="18" style="padding-left: 10px;">
    <nz-card [nzBordered]="false" nzTitle="数据集合">

      <nz-list [nzDataSource]="listData"
               [nzRenderItem]="item" [nzItemLayout]="'horizontal'"
               [nzPagination]="pagination"
               [nzLoading]="loading">

        <ng-template #item let-item>
          <nz-list-item
            [nzActions]="item.loading ? [] : [editAction, moreAction]"
          >
            <ng-template #editAction><a (click)="edit(item)">edit</a></ng-template>
            <ng-template #moreAction><a (click)="edit(item)">more</a></ng-template>
            <nz-list-item-meta
              [nzTitle]="nzTitle"
              nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
              nzDescription="Ant Design, a design language for background applications, is refined by Ant UED Team"
            >
              <ng-template #nzTitle>
                <a href="/">{{ item.title }}</a>
              </ng-template>
            </nz-list-item-meta>
          </nz-list-item>
        </ng-template>
      </nz-list>

      <ng-template #pagination>
        <nz-pagination [nzPageIndex]="1" [nzTotal]="50" (nzPageIndexChange)="loadData($event)"></nz-pagination>
      </ng-template>
    </nz-card>
  </div>
</div>
