<nz-tabset [nzSelectedIndex]="index">
  <nz-tab nzTitle="数据治理" (nzClick)="link('/governance/index')"></nz-tab>
  <nz-tab nzTitle="应用管理" (nzClick)="link('/governance/app')"></nz-tab>
  <nz-tab nzTitle="数据存储" (nzClick)="link('/governance/store')"></nz-tab>
  <nz-tab nzTitle="数据模式" (nzClick)="link('/governance/schema')"></nz-tab>
  <nz-tab nzTitle="数据字段" (nzClick)="link('/governance/field')"></nz-tab>
  <nz-tab nzTitle="枚举类型" (nzClick)="link('/governance/enum')"></nz-tab>
  <nz-tab nzTitle="系统组件" (nzClick)="link('/governance/component')"></nz-tab>
  <nz-tab nzTitle="数据处理" (nzClick)="link('/governance/lineage')"></nz-tab>
  <nz-tab nzTitle="Demo" (nzClick)="link('/demo')"></nz-tab>
</nz-tabset>
