<style>
  body {
    margin: 0;
  }

  svg {
    border: 1px solid #ccc;
  }
</style>

<svg width="320px" height="320px">
  <path d="M10 315
           L 110 215
           A 30 50 0 0 1 162.55 162.45
           L 172.55 152.45
           A 30 50 -45 0 1 215.1 109.9
           L 315 10" stroke="black" fill="green" stroke-width="2" fill-opacity="0.5"/>
</svg>
<svg width="620px" height="320px">
  <circle cx="150" cy="100" r="80" fill="green"/>
  <text x="150" y="125" font-size="60" text-anchor="middle" fill="white">SVG</text>
  <text x="10" y="10">Hello World!
    <tspan x="100 200 300"  font-weight="bold" fill="red">This is bold and red</tspan>
  </text>
</svg>
